<h1>Sign In to URLockbox</h1>

<form action = "/signin", method = "post">
  <input name = "email" placeholder = "Your email"/>
  <input name = "password" placeholder = "Your password"/>
  <button>Sign In</button>
</form>
<a href = "/signup">Sign Up</a>