<h1>Sign In to URLockbox</h1>

<% form_for @user do |f| %>
  <% f.label :email %>
  <% f.text_field :email %>

  <% f.label :password %>
  <% f.text_field :password %>

  <% f.submit 'Sign In' %>
<% end %>