<h1>Sign Up with URLockbox</h1>

<form action = "/signup", method = "post">
  <input name = "email" placeholder = "Your email"/>
  <input name = "password" placeholder = "Your password"/>
  <input name = "password_confirmation" placeholder = "Type again your password"/>
  <button>Sign Up</button>
</form>