<h1>Login</h1>
<div class="container" style="margin-top:50px;margin-bottom:100px;">
  <div class="container-fluid well well-lg">

  </div>
</div>


<h3>Don't you have an account? <%= link_to "Sign Upby clicking here", signup_path %></h3>
