<div class = 'link-box'>
  <p>Title: <span class = 'link-box-title' ><%= link.title %></span></p>
  <p>URL: <span class = 'link-box-url' ><%= link.url %></span></p>
  <p>Read? <%= link.read %></p>
  <p><span class = 'link-box-id' hidden ><%= link.id %></span></p>
  <button class = 'link-edit-btn' >Edit</button>
</div>