<div class="" id="new-link">
  <form class="form-inline">
    <div class="form-group">
      <label for="url">Url</label>
      <input type="text" class="form-control" id="add-url" placeholder="Url">
    </div>
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="add-title" placeholder="Title">
    </div>
    <button type="submit" class="btn btn-default" id="create-link">Add Link</button>
  </form>
</div>

<hr>
<div class="" id="links-list">
  <div class="row">
  </div>
</div>
