<form id="new-link">
  <label>URL:
    <input id="link-url">
  </label>
  <label>Title:
    <input id="link-title">
  </label>
  <input type="submit" value="Add Link">
</form>

<div id="links-list" class='row'>
  <% @links.each do |link| %>
    <%= render partial: 'link', locals: {link: link} %>
  <% end %>
</div>

<h2>Hot Reads!</h2>
<ol id="hot-reads" class='row'>
<% @hot_links.each do |read| %>
  <li class='hot-read'>
    <a href="<%= read %>"><%= read %></a>
  </li>
<% end %>
</ol>
<img src="https://m.popkey.co/4c7272/QL6mJ.gif">
