<h1>URL Lockbox</h1>

<% if current_user %>
  <%= link_to 'Sign Out', logout_path, method: "delete" %>
<% end %>

<%= render partial: "form", locals: { type: "create" } %>

<h3>Filters:</h3>
By text: <input type="text" placeholder="Filter by URL or Title"/>
<input type="submit" value="Only Unread Links" id="show-read"/>
<input type="submit" value="Only Read Links" id="show-unread"/>
