<h1>All Links</h1>
<%= render partial: 'shared/link_form', locals: {link: @link} %>

<table>
  <tr>
    <th>Title</th>
    <th>Url</th>
    <th></th>
  </tr>
  <% @user.links.each do |link| %>
  <tr>
    <td><%= link.title %>
    <td><%= link.url %>
    <td><%= link_to 'Edit', edit_link_path(link) %></td>
  </tr>
  <% end %>
</table>
