<h1>URL Lockbox</h1>

<% if current_user %>
  <%= link_to 'Sign Out', logout_path, method: "delete" %>
<% end %>

<div class="create-link">
  <%= render partial: "form", locals: { type: "create" } %>
</div>

<h3>Filters:</h3>
By text: <input type="text" id="content-filter" placeholder="Filter by URL or Title"/>
<input type="submit" value="Unread Links" id="show-read"/>
<input type="submit" value="Read Links" id="show-unread"/>
<br>
<br>
<hr>
<div class="links">
  <% current_user.links.each do |link| %>
  <%= render partial: 'link', locals: { link: link } %>
  <% end %>
</div>
