<div class="">
  <%= form_for :link, url: api_v1_links_path, method: 'POST' do |f| %>
    URL: <%= f.text_field :URL %><br>
    Title: <%= f.text_field :title %><br>
    <%= f.submit "Add Link" %>
  <% end %>
</div>
<hr>
