$base-color: #6D95A5;
$almost-black: #292729;
$light-blue: #86BFE1;
$deep-magenta: #7E425E;
$white: #FFFEFF;
$taupe: #ACAAAC;
$grey: #575557;
$pink-brown: #AD7873;

.true {
  background-color: $grey;
  color: $white;

}

.link {
  margin: 2px;
  padding-top: 5px;
  width: 30%;
  height: 200px;
}
